{
  "url": "https://localhost:8443",
  "credentials":{
    "username": "USERNAME",
    "password": "PASSWORD"
  },
  "verifyTls": true,
  "cordraTypeName": "AnnotationList",
  "objectThingClasses": ["leaf", "flower", "fruit", "seed", "stem", "root"]
}
